@font-face {
    font-family: "alt";
    src: url(../assets/pixel-font7.regular.ttf);
}

@font-face {
    font-family: "light";
    src: url(../assets/basis33.ttf);
}

* {
	margin: 0;
	padding: 0;
}

/* Declare Vars */
:root {
    --bgc: black;
    --textc: #d5fff5;
    --empc: white;
    --brdc: var(--empc);
    --linkc: rgb(74, 152, 176);
	--linkv: rgb(101, 198, 196);
    --hic: hsl(0deg 0% 100% / 26%);
}

html {
    background: black;
	cursor: url(../cursors/main.png) 0 0, auto;
}

body {
	font-family: "light";
	background: url(../assets/skska.png);
	color: var(--textc);
    /* for firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--empc) black;
    background-size: 248px;
    background-attachment: fixed;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 4px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    color: var(--empc);
    background-color: var(--empc);
}

::selection {
    background: var(--hic);
}
 
::-moz-selection {
	background: var(--hic);
	color: white;
}


a {
    color: var(--linkc);
	cursor: url(../cursors/link.png) 0 0, auto;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    filter: brightness(320%);
	cursor: url(../cursors/link.png) 0 0, auto;
}

a:visited{
	color: var(--linkv);
}

hr {
	border-color: var(--empc);
}

header{
	text-align: center;
	padding: 3ch;
}

header img {
	width: 500px;
	max-width: 90vw;
	image-rendering: initial;
	
}

nav {
	font-family: alt;
	text-align: center;
	font-size: 1.4rem;
}

nav a{
	margin: 0 2ch;
    color: var(--linkc) !important;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  user-select: none;
}

.date {
    border-bottom: solid 2pt var(--empc);
    background: black;
    border-right: solid 2pt var(--empc);
    z-index: 5;
    position: relative;
    padding: 0.5ch 2ch;
	/* USING POSITIONING LIKE THIS IS STUPID!!!
	 * TOO BAD!!! */
    top: -4.0pt;
    left: -4pt;
    width: fit-content;
    width: -moz-fit-content;
    word-break: break-word;
	font-weight: normal;
}

.text {
	width: 95%;
	max-width: 160ch;
	margin: 10ch auto;
	border: double 5.5pt var(--empc);
	/* Some would say just having a border around the 
	 * inner content would be better. To that I say
	 * yes. yes it would. */
	outline: var(--empc) solid 2.5pt;
    outline-offset: -3.5ch;
    background: black;
}

.text div {
	padding: 5ch;
	font-size: 1.3rem;
}

/* Redund Use B For Bolded Text */
.text strong {
	display: block;
	margin-top: 2ch;
}

.text strong::before {
	content: ">";
	margin-right: 1ch;
	display: inline-block;
}

.text ul {
	margin-left: 4ch;
	list-style: square;
}

/* Only targets hrs directly in the text portion, so hr's in
 * blockquotes etc can be ignored.  */
.text > div > hr {
	margin: 2ch 0;
}


/* Please put <code> inside <blockquote> tag for proper formatting */
.text blockquote{
	background-color: #090909;
	padding: 2ch;
	border: double 3pt var(--empc);
	overflow: auto;
	margin: 2ch 0;
	position: relative;
	max-height: 60vh;
}

/* Title of blockquote (such as code filename) */
blockquote::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    font-size: 0.99rem;
    border-bottom: double;
    /* font-style: italic; */
    border-right: double;
    padding: 0.5ch;
    /* filter: brightness(0.8); */
}

blockquote code {
/* 	font-family: monospace; */
	font-family: 'light';
	white-space: pre;
	overflow: auto;
	font-size: 0.7em;
}

footer {
	text-align: center;
	color: darkgray;
    font-size: 0.9em;
	letter-spacing: 0.7ch;
	padding: 2ch;
}

/* Image Related Shit */
.text img {
	/* max-width: 90%; */
	margin: 2ch;
}

.flr {
	float: right;
}

.fll {
	float: left;
}

/* Preset classes for quick sizes, if you need something custom
 * do inline who fucking cares this is a blog */
.smallimg {
	/* width: 30ch; */
	width: 100%;
    max-width: 30ch;
}

.medimg {
	/* width: 60ch; */
	width: 100%;
    max-width: 60ch;
}

/* For images that should span an entire block */
.largimg {
	max-width: 100% !important;
	width: 100%;
	margin: 0 auto !important;
	float: none;
}

.autoimg { /* Use actual size of the image */
	max-width: min-content;
	width: 100%;
	max-width: -moz-min-content;
}

/* For images that need a caption */

figure img {
	max-width: unset !important;
    width: -webkit-fill-available !important;
	width: -moz-available;
    height: auto;
    margin: 0 !important;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    padding: 0.2ch;
    filter: brightness(0.8);
	margin-bottom: 0.3ch;
}

/* Special formatting classes */

.centerme {
	text-align: center;
}

.indent {
    padding-left: 4ch;
}
