@font-face {
    font-family: "alt";
    src: url(../assets/pixel-font7.regular.ttf);
}

@font-face {
    font-family: "light";
    src: url(../assets/basis33.ttf);
}

* {
	margin: 0;
	padding: 0;
}

/* Declare Vars */
:root {
    --bgc: black;
    --textc: #d5fff5;
    --empc: white;
    --brdc: var(--empc);
    --linkc: rgb(74, 152, 176);
	--linkv: rgb(101, 198, 196);
    --hic: hsl(0deg 0% 100% / 26%);
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    color: var(--empc);
    background-color: var(--empc);
}

::selection {
    background: var(--hic);
}
 
::-moz-selection {
	background: var(--hic);
	color: white;
}


a {
    color: var(--linkc);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    filter: brightness(320%);
}

a:visited{
	color: var(--linkv);
}

hr {
	border-color: var(--empc);
}


body {
	background-color: black;
	background: url(../assets/souls.gif);
	font-family: "light";
	background-size: cover; /* fallback */
    background-size: max(100vh, 100vw);
	image-rendering: pixelated;
}

div {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: var(--textc);
	padding: 5ch;
	border: solid white 2px;
	outline: white;
	outline-width: 1px;
	outline-style: solid;
	outline-offset: -2ch;
	text-align: center;
  width: 85vw;
  max-width: 100ch;
}

div ol {
	text-align: left;
	padding: 0ch 3ch;
}

